.input::placeholder {
    color: #575757;
    opacity:0.7;
    padding-left: 10px ;
    opacity: 0.7;
    font-size: 18px
}
.input{
    @apply rounded-full mt-[50px] w-[700px] h-[80px];
    outline: none;
    font-size: 20px;
    text-align: center;
}
.input:placeholder-shown{
    @apply text-[18px] ;
    padding-left: 20px;

}
